@media only screen and (max-width: $breakpoint-md) {
  .banana{
    box-sizing: border-box;
    margin-top: 10px;
    padding: 30px;
    background-image: url(/img/banana.png);
    background-size: 13%;
    background-repeat: repeat-x;
    width: 100%;
  }
  .fuwafuwa{
    display: none;
  }
}

.banana{
  // position: absolute;
  box-sizing: border-box;
  margin-top: 10px;
  padding: 30px;
  background-image: url(/img/banana.png);
  background-size: 40px;
  background-repeat: repeat-x;
  width: 100%;
}

// .fuwafuwa{
//   z-index: -300;
//   animation: fuwafuwa 15s linear infinite;
//   transform-origin: 50% 50%;
//   margin: 1rem 0 !important;
//   img{
//     padding-right: 30px;
//     width: 50px;
//   }
// }

// @keyframes fuwafuwa {
//   0% { transform: translateY(-100px) }
//   33.33333% { transform: translateY(800px) }
//   66.66667% { transform: translateY(800px) }
//   100% { transform: translateY(-100px) }
// }
