@media only screen and (max-width: $breakpoint-md) {
  #comments{
    margin-top: 10px;
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
  }
}

  #comments{
    margin-top: 10px;
    text-align: center;
    font-size: 2em;
    padding: 10px;
  }
